<html>
{% load static %}
    <head>

<title>Library application</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">



    </head>
<body>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home_page' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'show_books' %}">show books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_single_book' %}">add book</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="">logged in as : {{user}}</a>
              </li> 
               

            </ul>
          </div>
          <div class="container">
            {% block content %}

            {% endblock %}
          </div>
      
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>






</html>